<div *ngIf="!isEditMode">
  <h3>Neues Todo:</h3>
  <input type="text" [(ngModel)]="todoText"
    appAutoInputWidth="400"
  >
  <button (click)="addTodo()">OK</button>
</div>
<div *ngIf="isEditMode">
  <h3>Todo bearbeiten:</h3>
  <input type="text" [(ngModel)]="todoText"
    appAutoInputWidth="400"
  >
  <button (click)="updateTodo()">OK</button>
</div>
<app-listbox 
  [items]="todos"
  [editItemIndex]="updateTodoIndex"
  (editItemClick)="editTodo($event)"
  (removeItemClick)="removeTodo($event)"
></app-listbox>

{{joke}}
